name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - live-version-swa
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - live-version-swa

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
        submodules: true
        lfs: false
    - name: Set up Node.js
      uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
      with:
        node-version: '18'
    - name: Install dependencies
      run: npm install
    - name: Install API dependencies and test
      run: cd api && npm install && npm test
    - name: Audit dependencies
      run: cd api && npm audit --audit-level=high || true
    - name: Build
      run: npm run build
    - name: Clean API dev dependencies
      run: cd api && rm -rf node_modules && npm install --omit=dev
    - name: Build And Deploy
      id: builddeploy
      uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
      with:
        azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_DESERT_0F1F18C10 }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        action: "upload"
        app_location: "/"
        api_location: "api"
        output_location: "_site"
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_DESERT_0F1F18C10 }}
          action: "close"